input {
    width: 50%;
    border: none;
    outline: none;
    border-radius: 8px;
    animation: loader 5s ease-in-out 1s 1 alternate forwards;

    &:focus-visible {
        border: 1px solid rgb(0, 255, 0);
    }

    &:hover {
        transition: .7s;
        transform: scale(1.08);
    }
}

#natije {
    display: none;
}

.container-fluid {
    opacity: 0;
    width: 0%;
    height: 0%;
    animation: loader 5s ease-in-out 1s 1 alternate forwards;
}

@keyframes loader {
    0% {
        opacity: 0;
        width: 0%;
        height: 0%;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

}

button {
    border: 1px solid goldenrod;
    border-radius: 30px;
    outline: none;
    padding: 8px;

    &:hover {
        &:hover {
            border: none;
            color: goldenrod;
            transition: .7s;
            transform: scale(1.08);
        }
    }

}

.border {
    box-shadow: 3px 0 80px black;
    transition: 6s;
    animation: loader 5s cubic-bezier(1, 0, 0, 0) 1s 1 alternate forwards;
}

@media only screen and (max-width:990px) {

}